openapi: 3.0.3
info:
  title: FuelEase API
  description: |
    API for the FuelEase Fuel Digital Card System — a nationwide digital fuel management
    and dispensing ecosystem for Tanzania. Integrates customers, fuel stations, regulators,
    and IoT pump devices under a unified digital framework.

    ## Base URL
    All endpoints are prefixed with `/api/v1`.

    ## Authentication
    Most endpoints require a JWT Bearer token obtained from `POST /api/v1/auth/login`.
    Include it in the `Authorization` header:
    ```
    Authorization: Bearer <access_token>
    ```

    Device endpoints use mTLS certificate fingerprint headers instead of JWT:
    - `X-Device-ID`: provisioned device identifier
    - `X-Cert-Fingerprint`: SHA-256 fingerprint of the client TLS certificate

    ## Roles
    - `customer` — fuel card holder, can request and cancel dispenses
    - `station_admin` — owns/manages a station, approves dispenses, manages pumps
    - `station_manager` — manages day-to-day station operations
    - `regulator` — government oversight; may be national (no region) or regional (region in JWT)
    - `system_admin` — full platform access

    ## Money
    All prices and balances are in Tanzanian Shillings (TZS) as integers. No decimals.

    ## Regional Scope
    Regulator endpoints automatically scope to the caller's JWT region when non-empty.
    `system_admin` callers may pass `?region=` to filter explicitly.
  version: 2.0.0
  contact:
    name: FuelEase API Support
    email: support@fuelease.com
  license:
    name: Proprietary

servers:
  - url: https://api.fuelease.co.tz/api/v1
    description: Production
  - url: http://localhost:8080/api/v1
    description: Local development

tags:
  - name: Authentication
    description: Registration, login, token refresh, logout
  - name: Users
    description: User profile management
  - name: Wallets
    description: Digital wallet balance and transactions
  - name: Cards
    description: Digital fuel card management
  - name: Companies
    description: Company / fleet operator management
  - name: Stations
    description: Fuel station CRUD and sub-resources
  - name: Dispense
    description: Fuel dispensing request lifecycle
  - name: Admin
    description: System administrator operations (system_admin only)
  - name: Analytics
    description: Dashboards and reporting
  - name: Regulator
    description: Government regulatory oversight
  - name: Device
    description: IoT pump device endpoints (cert-based auth, no JWT)
  - name: WebSocket
    description: Real-time event streaming for dashboards and devices
  - name: Organizations
    description: Organization / fleet management
  - name: Payments
    description: Wallet top-up and payment webhooks
  - name: System
    description: Health and readiness probes

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    IdParam:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid

    PumpIdParam:
      name: pump_id
      in: path
      required: true
      schema:
        type: string
        format: uuid

    LimitParam:
      name: limit
      in: query
      schema:
        type: integer
        default: 20
        minimum: 1
        maximum: 100

    OffsetParam:
      name: offset
      in: query
      schema:
        type: integer
        default: 0
        minimum: 0

    RegionParam:
      name: region
      in: query
      schema:
        type: string
      description: |
        Region filter. For `regulator` callers this is ignored — their JWT region is always used.
        For `system_admin` callers this filters results to the specified region.

  schemas:
    # ── Shared ────────────────────────────────────────────────────────
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            message:
              type: string

    # ── Users ─────────────────────────────────────────────────────────
    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        first_name:
          type: string
        last_name:
          type: string
        phone:
          type: string
          nullable: true
        role:
          type: string
          enum: [customer, station_admin, station_manager, regulator, system_admin]
        status:
          type: string
          enum: [active, pending, suspended]
        region:
          type: string
          nullable: true
          description: Non-null only for regional regulators
        created_at:
          type: string
          format: date-time

    Tokens:
      type: object
      properties:
        access_token:
          type: string
        refresh_token:
          type: string
        expires_at:
          type: string
          format: date-time

    AuthResponse:
      type: object
      properties:
        user:
          $ref: '#/components/schemas/User'
        tokens:
          $ref: '#/components/schemas/Tokens'
        session_id:
          type: string
          format: uuid

    # ── Wallets ───────────────────────────────────────────────────────
    Wallet:
      type: object
      properties:
        id:
          type: string
          format: uuid
        balance_tzs:
          type: integer
          format: int64
          description: Balance in TZS (integer, no decimals)
        status:
          type: string
          enum: [active, frozen]
        updated_at:
          type: string
          format: date-time

    WalletTransaction:
      type: object
      properties:
        id:
          type: string
          format: uuid
        wallet_id:
          type: string
          format: uuid
        type:
          type: string
          enum: [credit, debit, hold, release]
        amount_tzs:
          type: integer
          format: int64
        balance_after:
          type: integer
          format: int64
        ref_id:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time

    # ── Cards ─────────────────────────────────────────────────────────
    FuelCard:
      type: object
      properties:
        id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        company_id:
          type: string
          format: uuid
          nullable: true
        card_number_last4:
          type: string
          description: Last 4 characters of the encrypted card number
        status:
          type: string
          enum: [active, blocked, expired]
        created_at:
          type: string
          format: date-time

    Company:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        tin:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time

    # ── Stations ──────────────────────────────────────────────────────
    Station:
      type: object
      properties:
        id:
          type: string
          format: uuid
        owner_id:
          type: string
          format: uuid
        name:
          type: string
        address:
          type: string
        lat:
          type: number
          format: double
        lng:
          type: number
          format: double
        region:
          type: string
          description: Tanzania region (e.g. "Dar es Salaam", "Mwanza")
        district:
          type: string
        ewura_code:
          type: string
          nullable: true
          description: Energy and Water Utilities Regulatory Authority licence code
        tra_code:
          type: string
          nullable: true
          description: Tanzania Revenue Authority code
        status:
          type: string
          enum: [pending, active, suspended]
        created_at:
          type: string
          format: date-time

    Pump:
      type: object
      properties:
        id:
          type: string
          format: uuid
        station_id:
          type: string
          format: uuid
        device_id:
          type: string
          nullable: true
          description: IoT device ID attached to this pump
        fuel_type:
          type: string
          enum: [petrol, diesel, premium, gas]
        status:
          type: string
          enum: [active, inactive, locked]
        created_at:
          type: string
          format: date-time

    FuelPrice:
      type: object
      properties:
        id:
          type: string
          format: uuid
        station_id:
          type: string
          format: uuid
        fuel_type:
          type: string
          enum: [petrol, diesel, premium, gas]
        price_tzs:
          type: integer
          format: int64
        is_active:
          type: boolean
        effective_from:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time

    FuelInventory:
      type: object
      properties:
        id:
          type: string
          format: uuid
        station_id:
          type: string
          format: uuid
        fuel_type:
          type: string
          enum: [petrol, diesel, premium, gas]
        quantity_liters:
          type: number
          format: double
        capacity_liters:
          type: number
          format: double
          nullable: true
        low_level_alert_liters:
          type: number
          format: double
          nullable: true
        last_refill_at:
          type: string
          format: date-time
          nullable: true
        updated_at:
          type: string
          format: date-time

    # ── Dispensing ────────────────────────────────────────────────────
    DispensingRequest:
      type: object
      properties:
        id:
          type: string
          format: uuid
        card_id:
          type: string
          format: uuid
        station_id:
          type: string
          format: uuid
        pump_id:
          type: string
          format: uuid
          nullable: true
        wallet_hold_id:
          type: string
          format: uuid
          nullable: true
        requested_liters:
          type: string
          description: Decimal string (e.g. "20.000")
        actual_liters:
          type: string
          nullable: true
        price_per_liter_tzs:
          type: integer
          format: int64
        status:
          type: string
          enum: [pending, approved, completed, cancelled, rejected, expired]
        created_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time
          nullable: true

    CreateDispenseResponse:
      type: object
      properties:
        request:
          $ref: '#/components/schemas/DispensingRequest'
        pin:
          type: string
          description: 6-digit numeric PIN for manual pump entry
        qr_payload:
          type: string
          description: JSON payload to encode as a QR code on the mobile app

    # ── Regulator ─────────────────────────────────────────────────────
    StationSuspension:
      type: object
      properties:
        id:
          type: string
          format: uuid
        station_id:
          type: string
          format: uuid
        suspended_by:
          type: string
          format: uuid
        reason:
          type: string
        notes:
          type: string
          nullable: true
        status:
          type: string
          enum: [ACTIVE, LIFTED]
          description: Uppercase plain-text column, not a DB enum
        suspended_at:
          type: string
          format: date-time
        lifted_at:
          type: string
          format: date-time
          nullable: true
        lifted_by:
          type: string
          format: uuid
          nullable: true
        station_name:
          type: string
        station_state:
          type: string
          description: Region of the station

    PumpLock:
      type: object
      properties:
        id:
          type: string
          format: uuid
        pump_id:
          type: string
          format: uuid
        locked_by:
          type: string
          format: uuid
        reason:
          type: string
        notes:
          type: string
          nullable: true
        locked_at:
          type: string
          format: date-time
        lifted_at:
          type: string
          format: date-time
          nullable: true
        lifted_by:
          type: string
          format: uuid
          nullable: true

    PriceRule:
      type: object
      properties:
        id:
          type: string
          format: uuid
        fuel_type:
          type: string
          enum: [petrol, diesel, premium, gas]
        scope:
          type: string
          enum: [national, regional, district]
        region:
          type: string
          nullable: true
        district:
          type: string
          nullable: true
        min_price:
          type: integer
          format: int64
          nullable: true
          description: Minimum price in TZS (inclusive)
        max_price:
          type: integer
          format: int64
          nullable: true
          description: Maximum price in TZS (inclusive)
        notes:
          type: string
          nullable: true
        created_by:
          type: string
          format: uuid
          nullable: true
        created_at:
          type: string
          format: date-time

    PriceOverview:
      type: object
      properties:
        region:
          type: string
        fuel_type:
          type: string
        avg_price:
          type: number
          format: double
        min_price:
          type: integer
          format: int64
        max_price:
          type: integer
          format: int64
        station_count:
          type: integer

    PriceOutlier:
      type: object
      properties:
        station_id:
          type: string
          format: uuid
        station_name:
          type: string
        region:
          type: string
        fuel_type:
          type: string
        price_tzs:
          type: integer
          format: int64
        regional_avg:
          type: number
          format: double
        deviation_pct:
          type: number
          format: double

    PumpTelemetry:
      type: object
      properties:
        id:
          type: string
          format: uuid
        station_id:
          type: string
          format: uuid
        station_name:
          type: string
        station_state:
          type: string
          description: Region of the station
        fuel_type:
          type: string
        status:
          type: string
          enum: [active, inactive, locked]
        device_id:
          type: string
          nullable: true
        connected:
          type: boolean
          nullable: true
        last_heartbeat:
          type: string
          format: date-time
          nullable: true
        last_seen_at:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time

    RegulatorAuditLog:
      type: object
      properties:
        id:
          type: string
          format: uuid
        actor_id:
          type: string
          format: uuid
        action:
          type: string
          example: suspend_station
        target_type:
          type: string
          example: station
        target_id:
          type: string
        station_id:
          type: string
          format: uuid
          nullable: true
        notes:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time

    FuelPrediction:
      type: object
      properties:
        station_id:
          type: string
          format: uuid
        station_name:
          type: string
        region:
          type: string
        fuel_type:
          type: string
        historical:
          type: object
          properties:
            days:
              type: integer
            total_liters_dispensed:
              type: number
            transaction_count:
              type: integer
            avg_liters_per_transaction:
              type: number
            daily_average:
              type: number
        prediction:
          type: object
          properties:
            next_7_days:
              type: number
            next_30_days:
              type: number
            confidence:
              type: string
              enum: [high, medium, low]

    # ── Organization ──────────────────────────────────────────────────
    Organization:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        owner_id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time

# ─────────────────────────────────────────────────────────────────────
# Paths
# ─────────────────────────────────────────────────────────────────────
paths:

  # ── System ────────────────────────────────────────────────────────
  /healthz:
    get:
      tags: [System]
      summary: Liveness probe
      description: Returns 200 if the process is alive. No dependency checks.
      operationId: healthz
      responses:
        '200':
          description: Process alive
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok

  /ready:
    get:
      tags: [System]
      summary: Readiness probe
      description: Checks database and Redis connectivity. Returns 503 if either is unavailable.
      operationId: ready
      responses:
        '200':
          description: All dependencies healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  checks:
                    type: object
                    properties:
                      database:
                        type: string
                        example: ok
                      redis:
                        type: string
                        example: ok
        '503':
          description: One or more dependencies unavailable

  # ── Authentication ────────────────────────────────────────────────
  /auth/register:
    post:
      tags: [Authentication]
      summary: Register a new customer account
      operationId: register
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password, first_name, last_name]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  minLength: 8
                first_name:
                  type: string
                last_name:
                  type: string
                phone:
                  type: string
      responses:
        '201':
          description: Account created — returns auth tokens and session
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Email already registered

  /auth/login:
    post:
      tags: [Authentication]
      summary: Login and obtain JWT tokens
      operationId: login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          description: Invalid credentials or account not active

  /auth/refresh:
    post:
      tags: [Authentication]
      summary: Exchange refresh token for a new token pair
      operationId: refresh
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [session_id, refresh_token]
              properties:
                session_id:
                  type: string
                  format: uuid
                refresh_token:
                  type: string
      responses:
        '200':
          description: New token pair issued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          description: Invalid or expired session

  /auth/logout:
    post:
      tags: [Authentication]
      summary: Logout — invalidate session and revoke access token
      operationId: logout
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [session_id]
              properties:
                session_id:
                  type: string
                  format: uuid
      responses:
        '204':
          description: Logged out successfully
        '401':
          description: Unauthorized

  # ── Users ─────────────────────────────────────────────────────────
  /users/me:
    get:
      tags: [Users]
      summary: Get authenticated user profile
      operationId: getMe
      security:
        - BearerAuth: []
      responses:
        '200':
          description: User profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          description: Unauthorized

    put:
      tags: [Users]
      summary: Update authenticated user profile
      operationId: updateProfile
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [first_name, last_name]
              properties:
                first_name:
                  type: string
                last_name:
                  type: string
                phone:
                  type: string
                  nullable: true
      responses:
        '200':
          description: Updated profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'

  /users/me/push-token:
    post:
      tags: [Users]
      summary: Register or update a Firebase push notification token
      operationId: registerPushToken
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token, platform]
              properties:
                token:
                  type: string
                  description: Firebase Cloud Messaging device token
                platform:
                  type: string
                  enum: [ios, android]
      responses:
        '200':
          description: Token registered
          content:
            application/json:
              schema:
                type: object
                properties:
                  registered:
                    type: boolean

  # ── Wallets ───────────────────────────────────────────────────────
  /wallets/me:
    get:
      tags: [Wallets]
      summary: Get wallet balance (created on first access)
      operationId: getWallet
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Wallet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Wallet'

  /wallets/me/transactions:
    get:
      tags: [Wallets]
      summary: List wallet transactions (newest first)
      operationId: listTransactions
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
      responses:
        '200':
          description: Transaction list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WalletTransaction'

  /wallets/me/credit:
    post:
      tags: [Wallets]
      summary: Credit a user's wallet (system_admin only)
      operationId: creditWallet
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [user_id, amount_tzs]
              properties:
                user_id:
                  type: string
                  format: uuid
                  description: Target user whose wallet to credit
                amount_tzs:
                  type: integer
                  format: int64
                  minimum: 1
                ref_id:
                  type: string
                description:
                  type: string
      responses:
        '200':
          description: Updated wallet after credit
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Wallet'
        '403':
          description: Forbidden — system_admin only

  /wallets/me/topup:
    post:
      tags: [Payments]
      summary: Initiate a wallet top-up via AzamPay
      operationId: initiateTopUp
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount_tzs, phone]
              properties:
                amount_tzs:
                  type: integer
                  format: int64
                  minimum: 500
                phone:
                  type: string
                  description: Mobile money phone number (e.g. +255712345678)
      responses:
        '200':
          description: Top-up initiated — AzamPay will send a USSD prompt
          content:
            application/json:
              schema:
                type: object
                properties:
                  reference:
                    type: string
                    description: AzamPay transaction reference

  # ── Cards ─────────────────────────────────────────────────────────
  /cards:
    get:
      tags: [Cards]
      summary: List the authenticated user's fuel cards
      operationId: listCards
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Card list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FuelCard'

    post:
      tags: [Cards]
      summary: Register a new fuel card
      operationId: registerCard
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [card_number]
              properties:
                card_number:
                  type: string
                  description: Full card number (encrypted server-side; only last 4 stored in plain text)
                company_id:
                  type: string
                  format: uuid
                  nullable: true
      responses:
        '201':
          description: Card registered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FuelCard'
        '409':
          description: Duplicate card number

  /cards/{id}:
    get:
      tags: [Cards]
      summary: Get a fuel card by ID
      operationId: getCard
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: Fuel card
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FuelCard'
        '404':
          description: Not found

  /cards/{id}/status:
    put:
      tags: [Cards]
      summary: Update card status (system_admin only)
      operationId: updateCardStatus
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status:
                  type: string
                  enum: [active, blocked, expired]
      responses:
        '200':
          description: Updated card
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FuelCard'

  # ── Companies ─────────────────────────────────────────────────────
  /companies:
    get:
      tags: [Companies]
      summary: List companies
      operationId: listCompanies
      responses:
        '200':
          description: Company list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Company'

    post:
      tags: [Companies]
      summary: Create a company (system_admin only)
      operationId: createCompany
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                tin:
                  type: string
      responses:
        '201':
          description: Company created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'

  # ── Stations ──────────────────────────────────────────────────────
  /stations:
    get:
      tags: [Stations]
      summary: List stations (public)
      operationId: listStations
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, active, suspended]
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
      responses:
        '200':
          description: Station list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Station'

    post:
      tags: [Stations]
      summary: Create a station (station_admin or system_admin)
      operationId: createStation
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, address, lat, lng, region, district]
              properties:
                name:
                  type: string
                address:
                  type: string
                lat:
                  type: number
                  format: double
                lng:
                  type: number
                  format: double
                region:
                  type: string
                  example: Dar es Salaam
                district:
                  type: string
                  example: Kinondoni
                ewura_code:
                  type: string
                tra_code:
                  type: string
      responses:
        '201':
          description: Station created with status=pending
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Station'

  /stations/{id}:
    get:
      tags: [Stations]
      summary: Get station by ID (public)
      operationId: getStation
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: Station
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Station'
        '404':
          description: Not found

  /stations/{id}/status:
    put:
      tags: [Stations]
      summary: Update station status (system_admin only)
      operationId: updateStationStatus
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status:
                  type: string
                  enum: [pending, active, suspended]
      responses:
        '200':
          description: Updated station
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Station'

  /stations/{id}/assignments:
    post:
      tags: [Stations]
      summary: Assign a user to a station (system_admin only)
      operationId: assignUser
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [user_id]
              properties:
                user_id:
                  type: string
                  format: uuid
      responses:
        '204':
          description: User assigned

  /stations/{id}/pumps:
    get:
      tags: [Stations]
      summary: List pumps for a station (public)
      operationId: listPumps
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: Pump list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Pump'

    post:
      tags: [Stations]
      summary: Add a pump to a station (station_admin or system_admin)
      description: Requires station ownership. Associates an optional IoT device.
      operationId: addPump
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [fuel_type]
              properties:
                fuel_type:
                  type: string
                  enum: [petrol, diesel, premium, gas]
                device_id:
                  type: string
                  description: IoT device ID to link; leave empty if no device yet
      responses:
        '201':
          description: Pump created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pump'

  /stations/{id}/pumps/{pump_id}:
    get:
      tags: [Stations]
      summary: Get pump by ID
      operationId: getPump
      parameters:
        - $ref: '#/components/parameters/IdParam'
        - $ref: '#/components/parameters/PumpIdParam'
      responses:
        '200':
          description: Pump
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pump'
        '404':
          description: Not found

  /stations/{id}/pumps/{pump_id}/status:
    put:
      tags: [Stations]
      summary: Update pump status (station_admin or system_admin)
      description: |
        Uses an atomic `WHERE id=$1 AND station_id=$2` query — cross-station IDOR is prevented
        at the SQL level. Returns 404 if the pump doesn't belong to this station.
      operationId: updatePumpStatus
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
        - $ref: '#/components/parameters/PumpIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status:
                  type: string
                  enum: [active, inactive]
      responses:
        '200':
          description: Updated pump
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pump'

  /stations/{id}/fuel-prices:
    get:
      tags: [Stations]
      summary: Get active fuel prices for a station
      operationId: getFuelPrices
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: Active fuel prices
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FuelPrice'

    post:
      tags: [Stations]
      summary: Set fuel price for a station (station_admin or system_admin)
      description: |
        Deactivates any existing active price for the same fuel type and inserts a new one.
        Price is validated against applicable price rules (district > region > national).
      operationId: setFuelPrice
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [fuel_type, price_tzs]
              properties:
                fuel_type:
                  type: string
                  enum: [petrol, diesel, premium, gas]
                price_tzs:
                  type: integer
                  format: int64
                  minimum: 1
      responses:
        '201':
          description: New active price
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FuelPrice'
        '422':
          description: Price violates active price rule (min/max bounds)

  /stations/{id}/fuel-prices/history:
    get:
      tags: [Stations]
      summary: Get fuel price history for a station
      operationId: getFuelPriceHistory
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: Price history (all entries, including inactive)
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FuelPrice'

  /stations/{id}/fuel-inventory:
    get:
      tags: [Stations]
      summary: Get fuel inventory for a station
      operationId: getFuelInventory
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: Inventory per fuel type
          content:
            application/json:
              schema:
                type: object
                properties:
                  inventory:
                    type: array
                    items:
                      $ref: '#/components/schemas/FuelInventory'

    post:
      tags: [Stations]
      summary: Update fuel inventory (station_admin or system_admin)
      operationId: updateFuelInventory
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [fuel_type, quantity_liters]
              properties:
                fuel_type:
                  type: string
                  enum: [petrol, diesel, premium, gas]
                quantity_liters:
                  type: number
                  format: double
                capacity_liters:
                  type: number
                  format: double
                low_level_alert_liters:
                  type: number
                  format: double
      responses:
        '200':
          description: Updated inventory entry
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FuelInventory'

  /stations/{id}/staff:
    get:
      tags: [Stations]
      summary: List station staff (station_admin, station_manager, system_admin)
      operationId: getStaff
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: Staff list
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object

    post:
      tags: [Stations]
      summary: Add a staff member to a station
      operationId: addStaffMember
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [full_name]
              properties:
                full_name:
                  type: string
                email:
                  type: string
                  format: email
      responses:
        '201':
          description: Staff member added

  /stations/{id}/deliveries:
    get:
      tags: [Stations]
      summary: List fuel deliveries for a station
      operationId: getDeliveries
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: Delivery list
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object

    post:
      tags: [Stations]
      summary: Submit a fuel delivery record (station_admin or system_admin)
      operationId: submitDelivery
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [fuel_type, liters]
              properties:
                fuel_type:
                  type: string
                  enum: [petrol, diesel, premium, gas]
                liters:
                  type: number
                  format: double
                supplier:
                  type: string
                notes:
                  type: string
      responses:
        '201':
          description: Delivery recorded

  # ── Dispense ──────────────────────────────────────────────────────
  /dispense:
    get:
      tags: [Dispense]
      summary: List caller's dispense requests (all their cards)
      operationId: listMyRequests
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Request list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DispensingRequest'

    post:
      tags: [Dispense]
      summary: Create a dispense request
      description: |
        Opens a dispensing request. Price is fetched server-side from the station's active
        fuel price — client cannot supply a price. A wallet hold is created for the full
        estimated cost. Returns a 6-digit PIN and a QR payload for the pump.

        Idempotent if `client_request_id` is supplied (same ID returns the existing request).
      operationId: createDispenseRequest
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [card_id, station_id, fuel_type, requested_liters]
              properties:
                card_id:
                  type: string
                  format: uuid
                station_id:
                  type: string
                  format: uuid
                fuel_type:
                  type: string
                  enum: [petrol, diesel, premium, gas]
                requested_liters:
                  type: number
                  format: double
                  minimum: 0.001
                client_request_id:
                  type: string
                  description: Optional caller-generated UUID for idempotency (30s Redis + DB unique index)
      responses:
        '201':
          description: Request created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateDispenseResponse'
        '402':
          description: Insufficient wallet balance
        '409':
          description: Duplicate client_request_id (idempotent — returns existing request)

  /dispense/{id}:
    get:
      tags: [Dispense]
      summary: Get a dispense request by ID
      description: Customers may only view their own requests. Admins may view any.
      operationId: getDispenseRequest
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: Dispense request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DispensingRequest'
        '403':
          description: Not your request
        '404':
          description: Not found

  /dispense/{id}/cancel:
    put:
      tags: [Dispense]
      summary: Cancel a pending dispense request
      description: Releases the wallet hold. Only the card owner can cancel their own request.
      operationId: cancelDispenseRequest
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '204':
          description: Cancelled

  /dispense/{id}/approve:
    post:
      tags: [Dispense]
      summary: Approve a pending request (station_admin or system_admin)
      description: |
        Transitions request to `approved` and dispatches an activate command to the pump's
        IoT device (if connected). The device executes the dispense on PIN validation.
      operationId: approveDispenseRequest
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: Approved request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DispensingRequest'

  /dispense/{id}/reject:
    post:
      tags: [Dispense]
      summary: Reject a pending request (station_admin or system_admin)
      description: Releases the wallet hold.
      operationId: rejectDispenseRequest
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '204':
          description: Rejected

  /dispense/{id}/complete:
    put:
      tags: [Dispense]
      summary: Complete a dispense request (system_admin only)
      description: |
        Records actual liters dispensed, settles the wallet hold (debit actual cost,
        release remainder), deducts inventory, and records the wallet transaction.
      operationId: completeDispenseRequest
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [actual_liters]
              properties:
                actual_liters:
                  type: number
                  format: double
                  minimum: 0.001
      responses:
        '200':
          description: Completed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DispensingRequest'

  # ── Admin ─────────────────────────────────────────────────────────
  /admin/users:
    get:
      tags: [Admin]
      summary: List all users (system_admin only)
      operationId: adminListUsers
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
      responses:
        '200':
          description: User list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'

    post:
      tags: [Admin]
      summary: Create a staff user (system_admin only)
      operationId: adminCreateUser
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password, first_name, last_name, role]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  minLength: 8
                first_name:
                  type: string
                last_name:
                  type: string
                role:
                  type: string
                  enum: [station_manager, station_admin, system_admin, regulator]
      responses:
        '201':
          description: Staff user created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'

  /admin/users/{id}:
    patch:
      tags: [Admin]
      summary: Update user role or status (system_admin only)
      description: Suspending a user deletes all their active sessions immediately.
      operationId: adminUpdateUser
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                role:
                  type: string
                  enum: [customer, station_admin, station_manager, regulator, system_admin]
                status:
                  type: string
                  enum: [active, pending, suspended]
      responses:
        '200':
          description: Updated user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'

  /admin/users/{id}/region:
    patch:
      tags: [Admin]
      summary: Set or clear a user's assigned region (system_admin only)
      description: Used to scope regulators to a specific region. Pass empty string to make national.
      operationId: adminSetUserRegion
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [region]
              properties:
                region:
                  type: string
                  description: Region name or empty string for national access
      responses:
        '200':
          description: Updated user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'

  /admin/dispense:
    get:
      tags: [Admin]
      summary: List all dispense requests (system_admin only)
      operationId: adminListDispense
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
      responses:
        '200':
          description: Dispense request list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DispensingRequest'

  /admin/audit-logs:
    get:
      tags: [Admin]
      summary: List system audit logs (system_admin only)
      operationId: adminAuditLogs
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
      responses:
        '200':
          description: Audit log list

  # ── Analytics ─────────────────────────────────────────────────────
  /analytics/stations/{id}:
    get:
      tags: [Analytics]
      summary: Station dashboard analytics (station_admin, station_manager, system_admin)
      operationId: stationDashboard
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: Station metrics

  /analytics/regulator/overview:
    get:
      tags: [Analytics]
      summary: Regulator overview analytics (regulator or system_admin)
      operationId: regulatorOverview
      security:
        - BearerAuth: []
      responses:
        '200':
          description: National / regional regulatory overview

  /analytics/customer/me:
    get:
      tags: [Analytics]
      summary: Customer analytics — own dispense history and spend
      operationId: customerAnalytics
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Customer spend analytics

  # ── Regulator ─────────────────────────────────────────────────────
  /regulator/station-suspensions:
    get:
      tags: [Regulator]
      summary: List station suspensions
      description: |
        Returns suspensions optionally filtered by status.
        Regional regulators automatically see only their own region's stations.
      operationId: getStationSuspensions
      security:
        - BearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [ACTIVE, LIFTED]
          description: Filter by suspension status (uppercase)
        - $ref: '#/components/parameters/RegionParam'
      responses:
        '200':
          description: Suspension list
          content:
            application/json:
              schema:
                type: object
                properties:
                  suspensions:
                    type: array
                    items:
                      $ref: '#/components/schemas/StationSuspension'

  /regulator/station-suspensions/export:
    get:
      tags: [Regulator]
      summary: Export station suspensions as CSV
      operationId: exportSuspensionsCSV
      security:
        - BearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [ACTIVE, LIFTED]
        - $ref: '#/components/parameters/RegionParam'
      responses:
        '200':
          description: CSV file download
          content:
            text/csv:
              schema:
                type: string
                format: binary

  /regulator/stations/{id}/suspend:
    post:
      tags: [Regulator]
      summary: Suspend a station
      description: |
        Creates a suspension record and sets station status to `suspended`.
        Regional regulators can only suspend stations in their own region.
        Partial unique index enforces at most one active suspension per station.
      operationId: suspendStation
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason:
                  type: string
                  minLength: 3
                  maxLength: 300
                notes:
                  type: string
                  maxLength: 500
      responses:
        '201':
          description: Suspension created
          content:
            application/json:
              schema:
                type: object
                properties:
                  suspension:
                    $ref: '#/components/schemas/StationSuspension'
        '403':
          description: Station is outside caller's region
        '409':
          description: Station already has an active suspension

  /regulator/stations/{id}/lift:
    post:
      tags: [Regulator]
      summary: Lift a station suspension
      description: Sets `lifted_at` on the active suspension and restores station to `active`.
      operationId: liftSuspension
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                notes:
                  type: string
                  maxLength: 500
      responses:
        '200':
          description: Suspension lifted
          content:
            application/json:
              schema:
                type: object
                properties:
                  suspension:
                    $ref: '#/components/schemas/StationSuspension'

  /regulator/pump-locks:
    get:
      tags: [Regulator]
      summary: List pump locks
      description: Regional regulators see only their region's pumps.
      operationId: getPumpLocks
      security:
        - BearerAuth: []
      parameters:
        - name: stationId
          in: query
          schema:
            type: string
            format: uuid
        - name: active
          in: query
          schema:
            type: boolean
          description: Filter to active (not yet lifted) locks only
        - $ref: '#/components/parameters/RegionParam'
      responses:
        '200':
          description: Pump lock list
          content:
            application/json:
              schema:
                type: object
                properties:
                  locks:
                    type: array
                    items:
                      $ref: '#/components/schemas/PumpLock'

  /regulator/pump-locks/export:
    get:
      tags: [Regulator]
      summary: Export pump locks as CSV
      operationId: exportPumpLocksCSV
      security:
        - BearerAuth: []
      parameters:
        - name: stationId
          in: query
          schema:
            type: string
            format: uuid
        - name: active
          in: query
          schema:
            type: boolean
        - $ref: '#/components/parameters/RegionParam'
      responses:
        '200':
          description: CSV file download
          content:
            text/csv:
              schema:
                type: string
                format: binary

  /regulator/pumps/{id}/lock:
    post:
      tags: [Regulator]
      summary: Lock a pump
      description: |
        Creates a pump lock and sets pump status to `locked`.
        Regional regulators can only lock pumps at stations in their region.
        Partial unique index enforces at most one active lock per pump.
      operationId: lockPump
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason:
                  type: string
                  minLength: 3
                  maxLength: 300
                notes:
                  type: string
                  maxLength: 500
      responses:
        '201':
          description: Pump locked
          content:
            application/json:
              schema:
                type: object
                properties:
                  lock:
                    $ref: '#/components/schemas/PumpLock'
        '403':
          description: Pump's station is outside caller's region

  /regulator/pumps/{id}/unlock:
    post:
      tags: [Regulator]
      summary: Unlock a pump
      operationId: unlockPump
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                notes:
                  type: string
                  maxLength: 500
      responses:
        '200':
          description: Pump unlocked
          content:
            application/json:
              schema:
                type: object
                properties:
                  lock:
                    $ref: '#/components/schemas/PumpLock'

  /regulator/prices/rules:
    get:
      tags: [Regulator]
      summary: List price rules
      description: |
        National rules are visible to all regulators.
        Regional/district rules are filtered to the caller's region for regional regulators.
      operationId: getPriceRules
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Price rule list
          content:
            application/json:
              schema:
                type: object
                properties:
                  rules:
                    type: array
                    items:
                      $ref: '#/components/schemas/PriceRule'

    post:
      tags: [Regulator]
      summary: Create a price rule
      description: |
        Regional regulators cannot create `national` scope rules and cannot set a region
        different from their own JWT region — both are enforced server-side.
      operationId: createPriceRule
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [fuel_type]
              properties:
                fuel_type:
                  type: string
                  enum: [petrol, diesel, premium, gas]
                scope:
                  type: string
                  enum: [national, regional, district]
                  default: national
                region:
                  type: string
                  description: Ignored for regional regulators — their JWT region is used
                district:
                  type: string
                min_price:
                  type: integer
                  format: int64
                  minimum: 0
                max_price:
                  type: integer
                  format: int64
                  minimum: 0
                notes:
                  type: string
      responses:
        '200':
          description: Rule created
          content:
            application/json:
              schema:
                type: object
                properties:
                  rule:
                    $ref: '#/components/schemas/PriceRule'
        '403':
          description: Regional regulator attempting national scope

  /regulator/prices/overview:
    get:
      tags: [Regulator]
      summary: Price overview — averages per region and fuel type
      operationId: getPriceOverview
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/RegionParam'
      responses:
        '200':
          description: Price overview
          content:
            application/json:
              schema:
                type: object
                properties:
                  overview:
                    type: array
                    items:
                      $ref: '#/components/schemas/PriceOverview'

  /regulator/prices/outliers:
    get:
      tags: [Regulator]
      summary: Price outliers — stations deviating significantly from regional average
      operationId: getPriceOutliers
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/RegionParam'
      responses:
        '200':
          description: Outlier list
          content:
            application/json:
              schema:
                type: object
                properties:
                  outliers:
                    type: array
                    items:
                      $ref: '#/components/schemas/PriceOutlier'

  /regulator/audit-logs:
    get:
      tags: [Regulator]
      summary: List regulator audit logs
      description: |
        Regional regulators see only logs for stations in their region
        (logs with no station_id — e.g. national price rule creation — are excluded).
      operationId: getRegulatorAuditLogs
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
      responses:
        '200':
          description: Audit log list
          content:
            application/json:
              schema:
                type: object
                properties:
                  logs:
                    type: array
                    items:
                      $ref: '#/components/schemas/RegulatorAuditLog'

  /regulator/dispensing:
    get:
      tags: [Regulator]
      summary: Dispense monitoring — recent transactions across stations
      description: |
        Regional regulators receive only their region's transactions via a region-scoped
        SQL query (not post-fetch filtering) so pagination is accurate.
      operationId: getDispensingMonitoring
      security:
        - BearerAuth: []
      parameters:
        - name: stationId
          in: query
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
      responses:
        '200':
          description: Dispense monitoring data
          content:
            application/json:
              schema:
                type: object
                properties:
                  dispensing:
                    type: object
                    properties:
                      transactions:
                        type: array
                        items:
                          type: object
                      count:
                        type: integer
                      limit:
                        type: integer
                      offset:
                        type: integer

  /regulator/pumps/telemetry:
    get:
      tags: [Regulator]
      summary: Pump telemetry — device connection status across all pumps
      description: Regional regulators see only their region's pumps.
      operationId: getTelemetry
      security:
        - BearerAuth: []
      parameters:
        - name: stationId
          in: query
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Telemetry data
          content:
            application/json:
              schema:
                type: object
                properties:
                  telemetry:
                    type: array
                    items:
                      $ref: '#/components/schemas/PumpTelemetry'

  /regulator/fuel-prediction:
    get:
      tags: [Regulator]
      summary: Fuel availability predictions based on historical dispense data
      operationId: getFuelPrediction
      security:
        - BearerAuth: []
      parameters:
        - name: stationId
          in: query
          schema:
            type: string
            format: uuid
        - name: days
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 90
            default: 7
          description: Historical analysis window in days
        - $ref: '#/components/parameters/RegionParam'
      responses:
        '200':
          description: Fuel predictions
          content:
            application/json:
              schema:
                type: object
                properties:
                  prediction:
                    type: object
                    properties:
                      predictions:
                        type: array
                        items:
                          $ref: '#/components/schemas/FuelPrediction'

  # ── Device (cert-based auth) ───────────────────────────────────────
  /device/provision:
    post:
      tags: [Device]
      summary: Provision a new IoT pump device
      description: |
        Registers the device's cert fingerprint and generates a shared HMAC secret.
        No JWT required — this is called during physical device setup.
        Headers required: `X-Device-ID`, `X-Cert-Fingerprint`.
      operationId: provisionDevice
      parameters:
        - name: X-Device-ID
          in: header
          required: true
          schema:
            type: string
        - name: X-Cert-Fingerprint
          in: header
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [station_id]
              properties:
                station_id:
                  type: string
                  format: uuid
      responses:
        '201':
          description: Device provisioned — returns shared_secret for HMAC signing
          content:
            application/json:
              schema:
                type: object
                properties:
                  device_id:
                    type: string
                  shared_secret:
                    type: string
                    description: Hex-encoded 32-byte HMAC secret for activate payload signing
        '409':
          description: Device already provisioned

  /device/validate-pin:
    post:
      tags: [Device]
      summary: Validate a customer PIN at the pump
      description: |
        Called by the pump device when a customer enters their 6-digit PIN.
        On success, sends an `activate` command to the device via WebSocket.

        Required headers: `X-Device-ID`, `X-Cert-Fingerprint`.
        The cert fingerprint is verified against the provisioned value — unprovisioned
        or mismatched devices are rejected with 401.
      operationId: validateDevicePIN
      parameters:
        - name: X-Device-ID
          in: header
          required: true
          schema:
            type: string
        - name: X-Cert-Fingerprint
          in: header
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [request_id, pin]
              properties:
                request_id:
                  type: string
                  format: uuid
                pin:
                  type: string
                  minLength: 6
                  maxLength: 6
      responses:
        '200':
          description: PIN valid — activate command dispatched to the device
          content:
            application/json:
              schema:
                type: object
                properties:
                  approved:
                    type: boolean
                    example: true
        '401':
          description: Unknown device, cert fingerprint mismatch, or device not provisioned
        '403':
          description: Device or station not active
        '409':
          description: Pump not available (locked or inactive)

  /device/commands:
    get:
      tags: [Device]
      summary: Poll for pending device commands
      description: |
        Long-poll endpoint for devices that cannot maintain a WebSocket connection.
        Returns queued commands (activate, etc.) that have not yet been acknowledged.

        Required headers: `X-Device-ID`, `X-Cert-Fingerprint`.
      operationId: pollCommands
      parameters:
        - name: X-Device-ID
          in: header
          required: true
          schema:
            type: string
        - name: X-Cert-Fingerprint
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Pending commands
          content:
            application/json:
              schema:
                type: object
                properties:
                  commands:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        type:
                          type: string
                        payload:
                          type: object
                        expires_at:
                          type: string
                          format: date-time

  /device/commands/{id}/ack:
    post:
      tags: [Device]
      summary: Acknowledge a device command
      description: |
        Marks a command as `completed` or `failed`. Only the device that owns the command
        can acknowledge it (enforced by `WHERE device_id=$2` at SQL level).

        Required headers: `X-Device-ID`, `X-Cert-Fingerprint`.
      operationId: ackCommand
      parameters:
        - $ref: '#/components/parameters/IdParam'
        - name: X-Device-ID
          in: header
          required: true
          schema:
            type: string
        - name: X-Cert-Fingerprint
          in: header
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status:
                  type: string
                  enum: [completed, failed]
      responses:
        '200':
          description: Command acknowledged

  /device/ws:
    get:
      tags: [Device]
      summary: Device WebSocket connection
      description: |
        Upgrades to a WebSocket for real-time command delivery to pump devices.
        Preferred over polling — the server pushes `activate` commands immediately.

        Required headers: `X-Device-ID`, `X-Cert-Fingerprint`.

        **Message format (server → device):**
        ```json
        { "type": "command", "id": "<cmd_uuid>", "action": "activate",
          "payload": { "request_id": "...", "max_ml": 20000, "price_per_liter_tzs": 3500,
                       "fuel_type": "petrol", "sig": "<hmac_hex>" } }
        ```
        **Heartbeat:** device sends `{"type":"heartbeat"}`, server updates `last_heartbeat`.
      operationId: deviceWebSocket
      parameters:
        - name: X-Device-ID
          in: header
          required: true
          schema:
            type: string
        - name: X-Cert-Fingerprint
          in: header
          required: true
          schema:
            type: string
      responses:
        '101':
          description: WebSocket upgrade
        '401':
          description: Auth failure

  # ── Dashboard WebSocket ────────────────────────────────────────────
  /ws/ticket:
    post:
      tags: [WebSocket]
      summary: Issue a one-time WebSocket connection ticket
      description: |
        Returns a UUID ticket valid for 30 seconds. Pass it as `?ticket=<uuid>` when
        opening `GET /api/v1/ws/events`. This prevents the JWT from appearing in server
        access logs (which would log query parameters).
      operationId: issueWSTicket
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Ticket issued
          content:
            application/json:
              schema:
                type: object
                properties:
                  ticket:
                    type: string
                    format: uuid

  /ws/events:
    get:
      tags: [WebSocket]
      summary: Dashboard real-time event stream
      description: |
        Upgrades to a WebSocket for real-time dashboard events.
        Obtain a ticket from `POST /api/v1/ws/ticket` first — the ticket is single-use
        and expires in 30 seconds.

        **Initial subscriptions (automatic):**
        - All roles: `user:<user_id>` — own notifications
        - `system_admin` + national regulators: `role:regulator` — compliance feed
        - Regional regulators: `region:<region_name>` — scoped compliance feed

        **Subscribe to additional channels:**
        ```json
        { "action": "subscribe", "channel": "station:<uuid>" }
        ```

        **Channel access rules:**
        - `station:*` — station_admin/station_manager scoped to assigned stations;
          national regulators allowed; regional regulators blocked
        - `role:regulator` — national regulators and system_admin only
        - `region:<name>` — only the regulator scoped to that exact region
      operationId: wsEvents
      parameters:
        - name: ticket
          in: query
          required: true
          schema:
            type: string
            format: uuid
          description: One-time ticket from POST /ws/ticket
      responses:
        '101':
          description: WebSocket upgrade
        '401':
          description: Missing, invalid, or expired ticket

  # ── Webhooks ──────────────────────────────────────────────────────
  /webhooks/azampay:
    post:
      tags: [Payments]
      summary: AzamPay payment callback
      description: |
        Called by AzamPay when a mobile money payment completes. No JWT — verified by
        payload signature from AzamPay. Credits the user's wallet on success.
      operationId: azamPayWebhook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: AzamPay webhook payload (provider-defined structure)
      responses:
        '200':
          description: Webhook processed

  # ── Organizations ─────────────────────────────────────────────────
  /orgs:
    post:
      tags: [Organizations]
      summary: Create an organization
      operationId: createOrg
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
      responses:
        '201':
          description: Organization created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'

  /orgs/{id}:
    get:
      tags: [Organizations]
      summary: Get organization by ID
      operationId: getOrg
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: Organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'

  /orgs/{id}/members:
    get:
      tags: [Organizations]
      summary: List organization members
      operationId: listMembers
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: Member list

    post:
      tags: [Organizations]
      summary: Add a member to an organization
      operationId: addMember
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [user_id]
              properties:
                user_id:
                  type: string
                  format: uuid
      responses:
        '201':
          description: Member added

  /orgs/{id}/members/{user_id}:
    delete:
      tags: [Organizations]
      summary: Remove a member from an organization
      operationId: removeMember
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
        - name: user_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Member removed

  /orgs/{id}/members/{user_id}/cards:
    post:
      tags: [Organizations]
      summary: Assign a fuel card to an organization member
      operationId: assignCard
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdParam'
        - name: user_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [card_id]
              properties:
                card_id:
                  type: string
                  format: uuid
      responses:
        '200':
          description: Card assigned
